<div id="task-{{ task.id }}" class="row mt-2">
  <form hx-post="/update/{{ task.id }}" hx-target="#task-{{ task.id }}" hx-swap="outerHTML">
    <div class="col-8">
        <input type="text" name="task" value="{{ task.task }}" class="form-control" required>
    </div>
    <div class="col-4 text-right mt-2">
        <button type="submit" class="btn btn-success btn-sm">Save</button>
        <button hx-get="/cancel/{{ task.id }}" 
                hx-target="#task-{{ task.id }}" 
                hx-swap="outerHTML" 
                class="btn btn-secondary btn-sm">
            Cancel
        </button>
    </div>
  </form>  
</div>